# Autosave files
*~

# build
[Oo]bj/
[Bb]in/
packages/
TestResults/

# globs
Makefile.in
*.DS_Store
*.sln.cache
*.suo
*.cache
*.pidb
*.userprefs
*.usertasks
config.log
config.make
config.status
aclocal.m4
install-sh
autom4te.cache/
*.user
*.tar.gz
tarballs/
test-results/
Thumbs.db

# Mac bundle stuff
*.dmg
*.app

# resharper
*_Resharper.*
*.Resharper

# dotCover
*.dotCover
UpgradeLog.htm
*.sqlite

#others
_site
docsSource/api/.manifest
docsSource/xref
docsSource/.vs

Samples/.vs

pbXForms.Droid/Resources/Resource.designer.cs
pbXNet.Droid/Resources/Resource.designer.cs
Samples/**/Resources/Resource.Designer.cs
Tests/.vs/config/applicationhost.config
*.bak
*.nupkg
Plugin.pbXSettings/Plugin.pbXSettings.UWP/project.lock.json
Plugin.pbXSettings/Plugin.pbXSettings.UWP/Backup/Plugin.pbXSettings.UWP.csproj
Plugin.pbXSettings/Plugin.pbXSettings.UWP/Backup/project.json
